<h3>Odpowiedzi</h3>
<div *ngIf="answers.length > 0">
	<div class="table-responsive">
		<table class="table table-hover answers">
			<thead>
				<tr>
					<th>Treść</th>
					<th>Wartość</th>
					<th>Akcje</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let answer of answers">
					<td>{{answer.Text}}</td>
					<td>{{answer.Value}}</td>
					<td>
						<button (click)="onEdit(answer)"
								class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-edit"></span>
							&nbsp; Edytuj
						</button>
						<button (click)="onDelete(answer)"
								class="btn btn-xs btn-danger">
							<span class="glyphicon glyphicon-remove"></span>
							&nbsp; Usuń
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="answers.length == 0">
   To pytanie nie ma (jeszcze) odpowiedzi:
   kliknij <strong>Dodaj odpowiedź</strong>, aby dodać pierwszą odpowiedź!
</div>
<button (click)="onCreate()" class="btn btn-sm btn-primary">
   <span class="glyphicon glyphicon-plus"></span>
   &nbsp; Dodaj odpowiedź
</button>
