<div class="quiz-edit">
   <h2>{{title}}</h2>
   <div class="form-group">
      <label for="title">Tytuł quizu:</label>
      <br />
      <input type="text" id="title"
             [(ngModel)]="quiz.Title"
             placeholder="Wpisz tytuł..."
             class="form-control" />
   </div>
   <div class="form-group">
      <label for="description">Opis quizu:</label>
      <br />
      <input type="text" id="description"
             [(ngModel)]="quiz.Description"
             placeholder="Wpisz opis..."
             class="form-control" />
   </div>
   <div class="form-group">
      <label for="text">Dodatkowe informacje o quizie:</label>
      <br />
      <textarea id="text"
                [(ngModel)]="quiz.Text"
                placeholder="Wpisz tekst..."
                class="form-control"></textarea>
   </div>
   <div class="form-group commands">
      <input *ngIf="editMode" type="button"
             value="Zapisz zmiany"
             (click)="onSubmit(quiz)"
             class="btn btn-success" />
      <input *ngIf="!editMode" type="button"
             value="Utwórz quiz!"
             (click)="onSubmit(quiz)"
             class="btn btn-success" />
      <input type="button"
             value="Anuluj"
             (click)="onBack()"
             class="btn btn-default" />
   </div>

   <question-list *ngIf="editMode" [quiz]="quiz"></question-list>

   <result-list *ngIf="editMode" [quiz]="quiz"></result-list>

</div>
