<h3>Pytania</h3>
<div *ngIf="questions.length > 0">
   <div class="table-responsive">
      <table class="table table-hover table-striped questions">
         <thead>
            <tr>
               <th>Treść</th>
               <th>Akcje</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let question of questions">
               <td>{{question.Text}}</td>
               <td>
                  <button (click)="onEdit(question)"
                          class="btn btn-xs btn-warning">
                     <span class="glyphicon glyphicon-edit"></span>
                     &nbsp; Edytuj
                  </button>
                  <button (click)="onDelete(question)"
                          class="btn btn-xs btn-danger">
                     <span class="glyphicon glyphicon-remove"></span>
                     &nbsp; Usuń
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div *ngIf="questions.length == 0" class="help-block">
   Ten quiz nie ma (jeszcze) pytań:
   kliknij <strong>Dodaj pytanie</strong>, aby dodać pierwsze pytanie!
</div>
<button (click)="onCreate()" class="btn btn-sm btn-primary">
   <span class="glyphicon glyphicon-plus"></span>
   &nbsp; Dodaj pytanie
</button>
